In [4]:
## Build a dataframe with the following lists

claims = [1, 2, 3, 4, 5]
dates = [
    "<b class='table-label'>Filed Date</b><span class='table-content'>10/17/2019</span>",
    "<b class='table-label'>Filed Date</b><span class='table-content'>11/10/2019</span>",
    "<b class='table-label'>Filed Date</b><span class='table-content'>11/12/2019</span>", 
    "<b class='table-label'>Filed Date</b><span class='table-content'>12/07/2019</span>", 
    "<b class='table-label'>Filed Date</b><span class='table-content'>12/27/2019</span>" 
]
totals = [
    "<b class='table-label'>Claim Value</b><span class='table-content'>$10.00</span>",
    "<b class='table-label'>Claim Value</b><span class='table-content'>$20.00</span>",
    "<b class='table-label'>Claim Value</b><span class='table-content'>$30.00</span>",
    "<b class='table-label'>Claim Value</b><span class='table-content'>$40.00</span>",
    "<b class='table-label'>Claim Value</b><span class='table-content'>$50.00</span>"    
]

In [5]:
## import libraries
import pandas as pd
from bs4 import BeautifulSoup

In [6]:
df = pd.DataFrame(zip(claims, dates, totals),
                   columns = ["Claims", "Dates", "Totals"])
df

,Claims,Dates,Totals
0,1,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
1,2,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
2,3,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
3,4,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
4,5,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...

In [7]:
## function to strip_html using BeautifulSoup
def strip_html(target):
  target = str(target)
  soup = BeautifulSoup(target, "html.parser")
  return (soup.find("span", class_="table-content").get_text()) ## we're luckly that all columns follow the same pattern

### Method 1 - multi-steps

In [14]:
 ## build the dataframe
df1 = pd.DataFrame(zip(claims, dates, totals),
                   columns = ["Claims", "Dates", "Totals"])
df1

,Claims,Dates,Totals
0,1,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
1,2,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
2,3,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
3,4,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...
4,5,<b class='table-label'>Filed Date</b><span cla...,<b class='table-label'>Claim Value</b><span cl...

In [10]:
## columns we need to target
## we don't need the "Claims" column
target_columns = ["Dates", "Totals"]

In [11]:
## for loop through to strip html
for target in target_columns: 
  df1[target].apply(lambda x: print(x.upper()))
  # print(df1["current"])
# df1

<B CLASS='TABLE-LABEL'>FILED DATE</B><SPAN CLASS='TABLE-CONTENT'>10/17/2019</SPAN>
<B CLASS='TABLE-LABEL'>FILED DATE</B><SPAN CLASS='TABLE-CONTENT'>11/10/2019</SPAN>
<B CLASS='TABLE-LABEL'>FILED DATE</B><SPAN CLASS='TABLE-CONTENT'>11/12/2019</SPAN>
<B CLASS='TABLE-LABEL'>FILED DATE</B><SPAN CLASS='TABLE-CONTENT'>12/07/2019</SPAN>
<B CLASS='TABLE-LABEL'>FILED DATE</B><SPAN CLASS='TABLE-CONTENT'>12/27/2019</SPAN>
<B CLASS='TABLE-LABEL'>CLAIM VALUE</B><SPAN CLASS='TABLE-CONTENT'>$10.00</SPAN>
<B CLASS='TABLE-LABEL'>CLAIM VALUE</B><SPAN CLASS='TABLE-CONTENT'>$20.00</SPAN>
<B CLASS='TABLE-LABEL'>CLAIM VALUE</B><SPAN CLASS='TABLE-CONTENT'>$30.00</SPAN>
<B CLASS='TABLE-LABEL'>CLAIM VALUE</B><SPAN CLASS='TABLE-CONTENT'>$40.00</SPAN>
<B CLASS='TABLE-LABEL'>CLAIM VALUE</B><SPAN CLASS='TABLE-CONTENT'>$50.00</SPAN>

In [15]:
## for loop through to strip html
for target in target_columns: 
  df1[target] = df1[target].apply(lambda x: strip_html(x))
#   print(df1[target])
df1

   Claims       Dates  Totals
0       1  10/17/2019  $10.00
1       2  11/10/2019  $20.00
2       3  11/12/2019  $30.00
3       4  12/07/2019  $40.00
4       5  12/27/2019  $50.00

## Method 2 - One step but less clear?

In [ ]:
## zip and map
df2 = pd.DataFrame(list(zip(claims, list(map(strip_html, dates)), 
                    list(map(strip_html, totals)))), 
                   columns = ['claims', "dates", "totals"])

df2

   claims       dates  totals
0       1  10/17/2019  $10.00
1       2  11/10/2019  $20.00
2       3  11/12/2019  $30.00
3       4  12/07/2019  $40.00
4       5  12/27/2019  $50.00